body {
  background-image: url("https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-blend-mode: multiply;
  background-color: #3D3A39;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.jumbotron h1, em {
  opacity: 0.80;
}

.jumbotron {
  background: rgba(61, 58, 57, 0.75);
}

.btn {
  margin-bottom: 5px;
  background: rgba(61, 58, 57, 0.75);
}

h1, h3, p, label {
  color: white;
  opacity: 0.80;
}

h3 {
  margin-bottom: 10px;
}
