<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
    <h1>To Do List</h1>
    <em>Welcome! Let's get stuff done!</em>
    </div>
  <a href="/categories" class="btn btn-dark">View categories</a>
  <a href="/categories/new" class="btn btn-dark">Add new category</a>
  </div>
</body>
</html>
