<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to the To Do List!</h1>
    </div>
    <form action="/items" method="post">
      <label for="description">Add a new item</label>
      <input id="description" name="description" type="text">
      <button type="submit" class="btn btn-dark">Add</button>
    </form>
  </div>
</body>
</html>
