<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>To Do List</h1>
      <em>You can add a new category here.</em>
    </div>
    <form action="/categories" method="post">
      <input id="categoryName" name="categoryName" type="text">
      <button type="submit" class="btn btn-dark">Add new category</button>
    </form>
    <br>
    <a href="/categories" class="btn btn-dark">Back to categories</a>
    <a href="/" class="btn btn-dark">Back to homepage</a>
  </div>
</body>
</html>
